body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  link {
    cursor: pointer;
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  /* ----------Header---------- */
.header {
    background: #FFF;
}
.header-logo {
    color:#4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo-span {
    color: #2E2F42;
}
.header-nav-link {
    color: #2E2F42;
    font-weight: 500;
}
.header-nav-link:hover {
    color: #404BBF;
}
.header-nav-link:focus {
    color: #404BBF;
}
.header-address {
    font-style: normal;
}
.header-address-link {
    color: #434455;
}
.header-address-link:hover {
    color: #404BBF;
}
.header-address-link:focus {
    color: #404BBF;
}

/* ----------Main---------- */
.main-title-frame {
    background: #2E2F42;
}
.main-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.main-btn {
    color: #FFF;
    background: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.main-btn:hover {
    background: #404BBF;
}
.main-btn:focus {
    background: #404BBF;
}

/* ----------Benefits---------- */
.benefits {
    background: #FFF;
}
.benefits-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.benefits-text {
    color: #434455;
}

/* ----------Team---------- */
.team {
    background: #F4F4FD;
}
.team-list {
    background-color: #FFFFFF
}
.team-title {
    color: #2E2F42;
    text-align: center;
}
.team-subtitle {
    color: #2E2F42;
    text-align: center;

}
.team-text {
    color: #434455;
    text-align: center;
}

/* ----------Portfolio---------- */
.portfolio {
    background: #FFF;
}
.portfolio-title {
    color: #2E2F42;
    text-align: center;
}
.portfolio-subtitle {
    color: #2E2F42;
}
.portfolio-text {
    color: #434455;
}

/* ----------Footer---------- */
.footer {
    background: #2E2F42;
}
.footer-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-link-span {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
}